{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Movies </title>
    <link rel="stylesheet" href="{% static 'movies.css' %}" />
    <link rel="shortcut icon" href="{% static './images/heading.png'%}" type="image/x-icon">

</head>
<body>
    <div class="heading">
        <img src="{% static './images/heading.png'%}" alt="">
    </div>

    <hr style = "width: 50%">

    {% for m in recommended_movies %}

    <div class="recommendedMovies">
        <div class="one">
            <img src="{{ m.url }}" alt="">
            <h3>{{ m.title }}</h3>
        </div>
        </div>
    </div>

    {% endfor %}
</body>
</html>